<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7692c9">  <td>20/11/04 09:15:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass_1.test_01()[pri:0, instance:blackSwanAPIAutomation.TestScripts.TestClass_1@147ed70f]">test_01</td> 
  <td>main@153245266</td>   <td></td> </tr>
<tr bgcolor="7692c9">  <td>20/11/04 09:15:45</td>   <td>2730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass_1.test_02()[pri:0, instance:blackSwanAPIAutomation.TestScripts.TestClass_1@147ed70f]">test_02</td> 
  <td>main@153245266</td>   <td></td> </tr>
</table>
